.endless_choices{
  padding: 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.endless_choices h1{
  font-size: 40px;
}

.endless_review{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.reviews{
  padding: 2px 1rem;
  text-align: start;
}

.reviews h3{
  font-size: 30px;
  color: #6f61dc;
  font-weight: lighter;
}

.reviews p{
  font-size: 14px;
  font-weight: lighter;
}

.form_component {
  height: 100vh;
  background: url('../../Asset/Seach.png') center/cover no-repeat, linear-gradient(to bottom, #000, #ffffff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white !important;
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6f61dc;
  border-radius: 50px;
  padding: 8px 16px;
  width: 400px;
  background-color:#f3f3f3 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border-radius: 50px;
  background-color: transparent;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.search-bar input::placeholder {
  color:black;
}

