.join_us{
  text-align: center;
  font-size: 20px;
  color: #6F61DC;
  padding-top: 4rem;

}

.signup-container {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: #fff;
  border-radius: 10px;
  margin:  4rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px ;
  margin-bottom: 4px;
  text-align: start; 
}

.sign_icon_text{
  display: inline-flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.signup-icon {
  margin-bottom: 20px;
  padding: .9rem;
  border: 1px solid #6F61DC;
  border-radius: 50%;
  color: white;
  background-color: #6F61DC;
}

.sign_icon_text h2 {
  margin-bottom: 10px;
  font-size: 18px;
  padding-top: 1rem;
}

.signup-container p {
  margin-bottom: 20px;
  font-size: 14px;
}

.signup-btn {
  padding: 10px 20px;
  width: inherit;
  border: none;
  background-color:white;
  color: #46BAAC;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #46BAAC;
}

.divided{
  width: 90%;
  height: 1px;
  background-color: #e5e5e5;
  margin: auto;
}

.signup-btn:hover {
  background-color: #46BAAC;
  color: white;
}

.account_setup p{
  text-align: center;
  font-size: 14px;
}
.account_setup a{
  text-align: center;
  font-size: 14px;
  color: #46BAAC;
  text-decoration: none;
  padding-left: .5rem;
}
