.Listing{
  margin-top: 2rem;
}

.property-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.property-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-carousel {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-carousel button {
  position: absolute;
  /* position:relative; */
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  border: 1px solid #6F61DC;
  cursor: pointer;
  font-size: 14px;
  font-weight: lighter;
}

.image-carousel button:first-of-type {
  left: 10px;
}

.image-carousel button:last-of-type {
  right: 10px;
}

.property-details {
  padding: 15px;
  display: block;
}


.name_property,
.amount{
  display: flex;
  text-align: start;
  justify-content: space-between;
  
}

.name_pricing h3{
    font-size: 20px;
}


.property-details p {
  margin: 5px 0;
  font-size: 14px;
} 

.property-details a {
  display: block;
  color: #46BAAC;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}

.divide{
  width: 100%;
  height: .1px;
  background-color: #d8d6e2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


