.application-form {
  width: 600px;
  /* margin: 50px auto; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  /* height: 40%; */
  height: 100% !important;
  border: 1px solid red;
}

.application-form h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.application-form p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

.form-tab {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  font-size: 12px;
  cursor: pointer;
}

.form-tab button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.active-tab {
  border-bottom: 2px solid #46BAAC;
  color: #46BAAC;
}

.native{
  display: flex;
  justify-content: space-between;
}

.city label,
.state label,
.form-number label{
  display: block;
  margin-bottom: 2px; 
  margin-top: 5px; 
  font-weight: 550;
  font-size: 12px;
}

.city input,
.state input,
.form-number input{
  width: 100%;
  padding: 10px;
  border: 1px solid  #e5e5e5;
  border-radius: 20px;
  font-size: 10px;
  box-sizing: border-box;
}

.checkbox-group {
  display: inline-flex;
  align-items: start;
  gap: 10px;
  margin-bottom: 20px;
}

.checkbox-group label a {
  color: #46BAAC;
  text-decoration: none;
}

.apply-btn {
  width: 100%;
  padding: 12px;
  background-color: #46BAAC;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .apply-btn:hover {
  background-color: #00b870;
} */
