.hero{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-row-gap: 1px;
  /* border: 1px solid red; */
  margin-top: 20px;
  padding: 60px;
}



.research h4{
margin-bottom: 10px;
font-size: 20px;
}

.research h2{
margin-bottom: 10px;
font-size: 40px;
color:#6F61DC ;
}

.research p{
margin-bottom: 10px;
font-size: 20px;
}




.rent h1{
  padding-top: 3rem;
  margin-bottom: 4rem;
 font-size: 40px;
 /* font-weight: 700; */
 padding-left: 4rem;
}

.btn_signup{
  margin-top: 1rem;
  color: #fff;
  background-color: #46BAAC;
  border: none;
  padding:5px 20px;
  font-size: 16px;
  border-radius: 20px;
  margin-bottom: 2.5rem;
  cursor: pointer;
}


@media (max-width: 768px){
  .hero{
    display: block;
    padding: 0;
  }
  .research h4,
  .research h2,
  .research p{
    padding-left: 1rem;
  }

  .rent h1{
    padding-top: 2rem;
    margin-bottom: 4rem;
   font-size: 40px;
   /* font-weight: 700; */
   padding-left: 4rem;
  }

 .research_img .rent_img{
  text-align: center;
  margin: 0 auto;
 }
  .research_img img,
  .rent_img img{
    width: 350px;
    margin: 0 auto;
    /* text-align: center; */
  }
}

