.about_spacing{
  padding:40px 60px ;
}

.about{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons{
  flex-basis: 46%;
}

.top_section{
  /* border: .5px solid #e1e1e1; */
  border-radius: 10px;
  padding: 10px;
  background: #e1e1e1;
}

.top_section_sub{
  display: inline-flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 20px;
  margin-bottom: 8rem;
}

.icon_section{
  font-size: 20px;
  display: inline-flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 8rem;
}

.second_section{
  padding-top: 4rem;
}

.flex_second_section{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.text_section{
  font-size:16px ;
  padding: 0 1rem;
}

.first_section{
  /* border: .5px solid #e1e1e1; */
  border-radius: 10px;
  padding: 10px;
  background: #e1e1e1;
}
.first_section p{
 font-size: 14px;
}
.first_section h4{
 font-size: 15px;
 white-space: nowrap;
}

.last_icon{
  background-color: #6F61DC;
  padding: 2px 3px;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: lighter;
  text-align: center;
}

.last_icon h4{
  font-weight: lighter;
  text-align: center;
  padding-top: 4px;
  padding-right:4px ;
}

/* Container to hold the image */
.image-container {
  flex-basis: 46%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

/* The actual background image */
.background-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

/* Overlay text (First of all) styling */
.overlay-text {
  position: absolute;
  display: inline-flex;
  color: #6F61DC;
  gap: 5px;
  top: 20px;
  right: 20px;
  background-color: #e5e5e5;
  border-radius: 20px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}




